section.profit
    h1.profit__title.heading-h1 Преимущества G&#8209;SYNC
    p.profit__text Каждый монитор с технологией G&#8209;SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G&#8209;SYNC.
    .profit__items
            .profit__item
                .profit__item--icon.profit__item--icon--1
                h2.profit__item-title.heading HDR 
                    span DISPLAY
                p.profit__item-text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
            .profit__item
                .profit__item--icon.profit__item--icon--2
                h2.profit__item-title.heading INPUT 
                    span LAG
                p.profit__item-text Мониторы с технологией G&#8209;SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
            .profit__item
                .profit__item--icon.profit__item--icon--3
                h2.profit__item-title.heading HIGH REFRESH 
                    span RATE
                p.profit__item-text NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
            .profit__item
                .profit__item--icon.profit__item--icon--4
                h2.profit__item-title.heading WIDE COLOR 
                    span GAMUT
                p.profit__item-text Современные мониторы G&#8209;SYNC ULTIMATE поддерживают цветовой охват DCI&#8209;P3, обеспечивая более реалистичную цветопередачу с плавными переходами.
