#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') 
			.modal-body
				h5#exampleModalLabel.modal-title ПРЕИМУЩЕСТВА G&#8209;SYNC
				form(action='/my-handling-form-page' method='post')
					div
						input#name(type='text' name='user_name' placeholder="Имя")
					div
						input#mail(type='email' name='user_mail' placeholder="Mail")
					.button
						button.btn.btn-secondary(type='submit' data-dismiss='modal') Купить
			//- .modal-footer
			//- 	button.btn.btn-secondary(type='button' data-dismiss='modal') Oh...
				//- button.btn.btn-primary(type='button') No way!
